 <div class="container">
   <div class='form-group text-center button-group'>
        <label for="file-input" class="btn btn-blue">
        UPLOAD
    </label>
    <input type="file" id="file-input" accept=".xlsx"
            onchange="angular.element(this).scope().fileChanged(this.files);" required="true">
    <a ng-href="/#viewChart" ng-class="class"> View speech rate</a>
  </div>
<div ng-if="showJSONPreview">
    <div ui-grid="gridOptions" class="grid"  ui-grid-pinning></div> <br/>
</div>
</div>
